<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photo App</title>
</head>
<body>
    <h1>{{photo.title}}</h1>
    <h3><a href="{% url 'photo_edit' pk=photo.pk %}">Edit Photo</a></h3>
    <div>
        <img src="{{photo.image}}" alt="{{photo.title}}" width="300px">
        <p>{{photo.description}}</p>
        <p>{{photo.author}}, {{photo.price}}원</p>
    </div>
</body>
</html>